form {

	.form-check-group {
		padding: 5%;
	}

	@include md {
		display: flex;
		flex-wrap: wrap;

		.form-block {
			flex: 1 0 48%;
		}

		.form-block:nth-child(odd) {
			margin-right: 2%;
		}

		.form-block:nth-child(8) {
			flex: 1 0 100%;

		}

		.form-block:nth-child(4) {
			flex: 1 0 100%;

			@include lg {
				flex: 1 0 48%;
			}
		}

		.form-block:nth-child(7) {

			@include lg {
				margin-right: 0;
			}

			input {
				width: 98%;
			}
		}

		.form-check-group {
			padding: initial;
			display: flex;
			justify-content: space-between;

			.form-check {
				padding-right: .5rem;
				font-size: 1rem;
			}
		}
	}

	@include xl {
		padding: 0 9vw;
	}
}



ul {
	margin: 0;
}

.form-block {
	margin: 16% 0;

	@include md {
		margin: 4% 0;
	}

	position: relative;

	label {
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: block;
		transition: all .35s ease;
	}

	select {
		width: 99%;
		height: 3.2rem;
		border-radius: .3rem;
		border: none;
		padding-left: 2rem;
		background: transparent;
		box-shadow: $lightGray 1px 1px 8px inset;
		font-size: 1.2rem;

		&::-webkit-select-edit {
			padding-left: 1rem;
		}
	}

	input {
		font-family: inherit;
		width: 95%;
		height: 3.2rem;
		border-radius: .3rem;
		border: none;
		padding-left: 1rem;
		box-shadow: $lightGray 1px 1px 8px inset;
		font-size: 1.2rem;
		background: transparent;

		&::-webkit-datetime-edit {
			padding-left: 1rem;
		}
	}

	textarea {
		width: 95%;
		border: none;
		border-radius: 5px;
		padding: 1rem;
		background: transparent;
		box-shadow: $lightGray 1px 1px 8px inset;
		font-size: 1.2rem;
	}
}

.form-check {
	display: flex;
	align-items: center;

	input {
		box-shadow: initial;
	}

	label {
		padding: 0;
		display: inline-block;
	}
}

.form-check-input {
	width: auto !important;

}

.form-block-checkbox {
	position: relative;

	@include md {
		font-size: .9em;
	}
}


.floating-label-field {

	border-width: 0;
	color: rgba(#2c3e50, .75);

	&:focus {
		outline: 0;
		box-shadow: 0;
	}

	&::placeholder {
		color: transparent;
	}

	&+.floating-label {
		font-size: 10px;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		user-select: none;
		transition: transform .35s, opacity .35s cubic-bezier(.59, 0, .36, 1.01);
		transform-origin: 0 0;
		opacity: 1;
		line-height: 1;
		font: inherit;
		padding: 8px 0 2rem 1rem;
		height: 4em;

		@include lg {
			padding: 14px 0 2rem 1rem;

		}
	}

	&:focus,
	&:not(:placeholder-shown) {
		border-color: rgba(white, .1);

		&+.floating-label {
			transform: translate(1%, -30%) scale(.8);
			opacity: .5;
		}
	}

	&:not(:placeholder-shown):invalid {
		border-color: red 1px solid;

		&+.floating-label {
			transform: translate(1%, -30%) scale(.8);
			opacity: 1;
			color: darken(red, 20%);
		}
	}
}

.floated {
	opacity: 1;
	top: 0;
	position: absolute;

	@include md {
		transform: translate(-9%, -90%) scale(0.8);
	}
}

.notinput {
	opacity: 1 !important;
	transform: translateY(-3rem) !important;

	@include md {
		transform: inherit;
	}
}

.form-notvalid {
	color: darken(red, 20%);
	text-transform: uppercase;
	font-size: .8rem;
	letter-spacing: 2px;
	position: absolute;
	top: -3rem;
	left: 1rem;
}

.form-submit {
	font-family: inherit;
	position: relative;
	border-radius: .5rem;
	width: 100%;
	font-size: 1.2rem;
	height: 8rem;
	text-transform: uppercase;
	background: transparent;
	letter-spacing: 3px;
	color: $darkGray;
	transition: all .35s cubic-bezier(.59, 0, .36, 1.01);
	transform: scale(1);
	opacity: 1;

	&:hover {
		color: #fff;
		background: $darkGray;
		transition: all .35s cubic-bezier(.59, 0, .36, 1.01);
		letter-spacing: 8px;
	}
}

.form_send {
	display: flex;
	align-items: center;
	position: relative;
	height: 30rem;
	width: 100%;

	@include xl {
		height: 15rem;
	}
}

.form_send-success {
	height: 30rem;
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	align-items: center;

	@include xl {
		height: 15rem;
	}

	svg {
		opacity: 0;
		transition: .5s all;
		width: 160px;
		height: 160px;
		margin: 0 auto;
		transform-origin: center;
		animation: 1s turning infinite linear;
	}
}

@keyframes turning {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.form_send-success-msg {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
	opacity: 0;
	width: 100%;
	text-align: center;
	position: absolute;
	margin: 0;
	transition: all 0.4s;
}

.d-none {
	display: none;
}

.goAway {
	transform: scale(.4);
	opacity: 0;
}