.footer {

	padding: 5% 5% 10rem 5%;

	a {
		color: $darkGray;
	}

	hr {
		@include lg {
			display: none;
		}
	}

	.footer-top {
		img{
			height: 6rem;
			padding: 3rem 0;
		}
		border-top: 1px solid $darkGray;
	}

	.footer-bottom {
		padding-top: 5%;

		@include lg {
			border-top: 1px solid $darkGray;
			padding-top: 2%;
		}

		img{
			height: 12rem;

			@include lg {
				padding-right: 2.8rem;
			}
		}

		p {
			color: $darkGray;
			padding: 1rem 0;

			@include lg {
				padding: initial;
			}

			&:first-child{
				font-size: 1.6em;
				margin-bottom: 0;
			}
		}

		b {
			font-weight: 900;

			@include lg {
				display: block;
			}
		}
	}
	.footer-top, .footer-bottom {
		color: $darkGray;
		font-size: 1.2rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		text-align: center;
	
		& div  {
			padding: 1.2rem 0;
		}
	
		.address {
			.address-title {
				font-size: 1.6em;
				margin-bottom: .3rem;
				@include lg {
					margin: 0;
					
				}
			}
	
			.address-text {
				font-size: 1em;
				margin: 0;
				font-weight: 900;
			}
	
		}

		@include lg {
			font-size: .9rem;
			display: flex;
			text-align: left;
			align-items: center;
			width: 100%;
			justify-content: space-between;
		}
	}
}

.gd_address {
	margin-top: 2rem;
	div{
		margin: 2rem 0 0 0;
	}
	@include lg {
		margin: 0;
	}
}


.footer-bottom {
	img {
		height: 8rem;
	}
}