.imgslider-nav-group {
	position: absolute;
	bottom: 0;
	right: 0;

	button {
		vertical-align: bottom;
		height: 50px;
		outline: none;
		width: 50px;
		background: rgba(0, 0, 0, 0.6);
		border: 0;
		align-self: end;
		color: #fff;
		margin: 0;
		padding: 0;
		font-size: 1.4rem;
	}
}
