.location {
	padding: 5%;
	font-size: 1.3rem;

	img {
		height: 7rem;
	}

	ul {
		font-size: inherit;
		list-style-type: none;
		padding: 0;

		li {
			padding: 1% 0;
		}
	}
}

.location-gallery {
	position: relative;

	.location-gallery-item {
		height: 30rem;	
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
