.locations-props {
	display: flex;
	height: 50vh;
	align-items: center;
	margin-bottom: 10vh;

	span {
		display: block;
		text-align: center;
		padding: 10%;
	}

	.locations-props-icons {
		width: 16%;
		border-right: 1px solid $darkGray;
	}

	.locations-props-item {
		width: 21%;
		border-right: 1px solid $darkGray;

		&:last-child {
			border: none;
		}

		span {
			padding: 11%;
			font-size: 1.4rem;
		}
		
	}
}

.scroll-to-see {
	text-align: center;
	display: block;
	padding: 6% 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $darkGray;
	cursor: pointer;
}