.location {
	padding: 5%;
	font-size: 1.3rem;

	img {
		height: 7rem;
	}

	ul {
		font-size: inherit;
		list-style-type: none;
		padding: 0;

		li {
			padding: 1% 0;
		}
	}

	@include lg {
		display: flex;
		
		.location-overview {
			flex: 1 0 45%;
		}

		.location-detail {
			padding-left: 2rem;
		}
	}
}

.location-gallery {
	position: relative;

	.location-gallery-item {
		height: 100%;	
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
