.location {
	padding: 5%;
	font-size: 1.6rem;
	line-height: 1.6;

	@include md{
		font-size: 1.2rem;
	}
	
	@include xl{
		font-size: 1.6rem;
		padding: 10% 11vw 5% 11vw;
	}

	img {
		height: 7rem;
	}

	ul {
		font-size: inherit;
		list-style-type: none;
		padding: 0;

		li {
			padding: 1% 0;
			font-weight: 700;

			@include md {
				text-transform: uppercase;
				font-size: 1rem;
				padding: 2% 0;
				letter-spacing: 1.5px;
			}
		}
	}

	@include lg {
		display: flex;
		font-size: 1.2rem;
		
		.location-overview {
			flex: 1 0 45%;
		}

		.location-detail {
			flex: 1 0 45%;
			padding-left: 2rem;
		}
	}
}

.location-gallery {
	position: relative;

	.location-gallery-item {
		height: 100%;	
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
