.preface {
	color: $darkGray;
	text-align: center;
	padding: 5%;
	font-size: 1.4rem;

	@include respond-to('large') {
		padding: 7% 15%;
	}

	.preface-title {
		text-transform: uppercase;
		font-weight: 900;
	}

	.preface-subtitle {
		font-size: .8em;
		font-weight: 900;
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}

	.preface-texts {
		p {
			padding: 0 1rem;
		}
		@include respond-to('large') {
			padding-top: 3%;
			display: flex;
			text-align: left;
		}
	}
}