.referenzen-list {
	padding: 10%;

	@include md{
		padding: 5% 0;
	}

	.referenzen_list_item{
		margin-bottom: 5rem;
		
		.referenzen_list_item-img{
			height: 15rem;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			@include md {
				height: 32rem;
				flex: 1 0 50%;
			}
		}

		.referenzen_list_item-text {
			h2{
				font-size: 2rem;
				line-height: 1.3;
				color: inherit;
			}
			font-size: 1.4rem;
			transition: .35s all;

			@include md {
				padding: 0 5% ;
				font-size: 1rem;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				line-height: 1.7;
			}

			a {
				font-weight: 900;
				font-size: 1.1rem;
				letter-spacing: 2px;
			}

			span {
				font-weight: 900;
				font-size: .95em;
				transition: .4s all cubic-bezier(.58,.12,.17,.94);
			}
		}

		&:hover {
			color: $darkGray;

			span {
				letter-spacing: 5px;
				transition: .35s all cubic-bezier(.58,.12,.17,.94);
			}
		}

		@include md {
			display: flex;
			align-items: center;
		}
	}
}