.start {
	height: 100vh;
	position: relative;

	@include respond-to('large') {
		overflow: hidden;
	}

	a {
		color: #fff;
		font-weight: 900;
		letter-spacing: 1.5px;
		font-size: .8em;
	}

	.start-slider {
		.start-slider-item {
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			h2 {
				text-transform: uppercase;
				font-weight: 900;
				letter-spacing: 2px;
			}

			&:before {
				content: '';
				width: 100%;
				height: 80%;
				bottom: 0;
				position: absolute;
				background-image: linear-gradient(to top, #000, transparent);
			}

			.start-slider-text {
				
				padding: 5%;
				position: absolute;
				bottom: 15%;
				color: #fff;
				text-align: center;
				font-size: 1.6rem;

				@include respond-to('large') {
					text-align: left;
					padding: 10% 5%;
					width: 70%;
				}

				@include respond-to('xlarge') {
					width: 50%;
				}
			}
		}
	}
	
}

.start-slider-nav {
	position: absolute;
	bottom: 10%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;

	@include respond-to('large') {
		left: 5%;
		width: initial;
		justify-content: initial;
	}

	button {
		height: 1.7rem;
		width: 1.7rem;
		border: none;
		background: $darkGray;
		border-radius: 1.7rem;

		
		

		@include respond-to('large') {
			margin-right: 2rem;
		}
	}

	.carousel__dot--selected {
			background: $lightGray;
	}
}

