.start-referenzen {
	padding: 5%;
	margin: 10% 0;
	position: relative;

	.carousel {
		position: relative;
	}

	@include md{
		padding: 5% 0;
	}

	.section-title {
		position: relative;
		margin-bottom: 1rem;

		@include md{
			width: 95%;
			text-align: left;
			padding-left: 5%;
			font-size: 3.3rem;
			font-weight: 500;
		}

		span {
			display: none;
		
			@include md{
				display: block;
				position: absolute;
				opacity: .1;
				font-weight: 100;
				top: -130%;
				font-size: 12rem;
				right: 4%;
			}

			@include xxl {
				top: -250%;
				font-size: 17rem;
			} 
		}
	}


	.start-referenzen-item {
		height: 100%;

		@include mehrlesen_hover;

		@include md{
			display: flex;
			align-items: center;

			.break {
				width: 3vw;
			}
		}

		.start-referenzen-img {
			height: 26vh;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			@include md{
				width: 50%;
				padding-left: 1%;
				height: 50vh;
			}

			@include lg {
				height: 50vh;
			}

			@include xxl {
				height: 64vh;
			}
		}
	
		.start-referenzen-text {
			transition: .35s all cubic-bezier(.58,.12,.17,.94);
			h2 {
				margin: 3rem 0;
				font-size: 1.7rem;
				position: relative;

				@include md{
					font-size: 2.2rem;
					width: 50%;
					text-align: left;
				}

				&:after{
					content:'______';
					letter-spacing: -.1rem;
					display: block;
					position: absolute;
					bottom: -2.3rem;
				}
			}

			p {
				font-size: 1.4rem;
				@include md{
					padding: 2% 5% 2% 0;
				}

				@include lg {
					font-size: 1rem;
					text-transform: uppercase;
					letter-spacing: 1.5px;
					line-height: 1.7;
				}

				@include xl {
					width: 80%;
				}
			}

			a {
				font-weight: 900;
				font-size: 1.1rem;
				letter-spacing: 2px;
				color: $darkGray;
			}

			@include md{
				width: 50%;
				margin-bottom: 7rem;
			}
		}
	}

	.referenzen-nav-group {
		@include md {
			display: flex;
	
			.break {
				width: 50%;
			}
		}
	}

	.start-referenzen-nav {
		position: absolute;
		bottom: -10%;
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-evenly; 

		@include md {
			// left: 5%;
			width: initial;
			justify-content: right;
			position: relative;
		}

		button {
			height: 1.5rem;
			width: 1.5rem;
			border: none;
			background: $darkGray;
			border-radius: 5rem;
			transform: scale(.3);
			transition: .5s all;

			@include md {
				margin-right: 2rem;
			}
	
			&:focus, &:active {
				outline: none;
			}
		}
	
		.carousel__dot--selected {
				background: $midGray;
				transform: scale(1);
				transition: .5s all;
		}
	}
}
.carousel__slide-focus-ring {
	display: none !important;
}


