.start {
	height: 100vh;
	position: relative;
	background: #000;

	@include lg {
		overflow: hidden;
	}

	a {
		color: #fff;
		font-weight: 500;
		font-size: .8em;

		@include lg {
			letter-spacing: 1.5px;
			font-weight: 700;
			font-size: .6em;
		}
	}

	.start-slider {
		.start-slider-item {
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			h2 {
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 2px;
				font-size: 2.8rem;

				@include lg {
					letter-spacing: 4px;
					font-size: 5rem;
					margin-bottom: 1rem;
				}
			}

			&:before {
				content: '';
				width: 100%;
				height: 80%;
				bottom: 0;
				position: absolute;
				background-image: linear-gradient(to top, #000, transparent);
			}

			.start-slider-text {
				padding: 5%;
				position: absolute;
				bottom: 15%;
				color: #fff;
				text-align: center;
				font-size: 1.6rem;

				@include mehrlesen_hover;

				.mehrlesen {
					justify-content: center;

					@include lg {
						justify-content: flex-start;
					}
				}

				.mehrlesen_arrow {
					background-color: #fff;
				}

				@include lg {
					text-align: left;
					width: 70%;
					bottom: 10%;
					font-weight: 500;

					p {
						font-size: 1rem;
						text-transform: uppercase;
						letter-spacing: 2px;
						line-height: 1.4;
					}
				}
			}
		}
	}

}

.start-slider-nav {
	position: absolute;
	bottom: 10%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;

	@include lg {
		left: 5%;
		width: initial;
		justify-content: initial;
	}

	button {
		height: 2rem;
		width: 2rem;
		border: none;
		background: $darkGray;
		border-radius: 1.7rem;
		transform: scale(.6);
		transition: .5s all;

		@include lg {
			margin-right: 2rem;
			transform: scale(.4);
			height: 1.2rem;
			width: 1.2rem;
		}

		&:focus,
		&:active {
			outline: none;
		}
	}

	.carousel__dot--selected {
		background: $lightGray;
		transform: scale(1);
		transition: .5s all;
	}
}