html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

@include respond-to('small'){
	html{
		font-size: 81.25%;
	}
}

@include respond-to('xlarge'){
	html{
		font-size: 100%;
	}
}

body {
	font-family: 'Lato', sans-serif;
	color: $darkGray;
}

@include lg {
	body::-webkit-scrollbar {
		position: absolute;
		width: .5vw;
		background-color: #000;
	}

	body::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}

	body::-webkit-scrollbar-thumb {
		border-radius: .5rem;
		background: linear-gradient(to top, #000, $darkGray);
	}

}

.loading {
	height: 100vh;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: $lightGray;
	letter-spacing: 2.3px;

	div {
		width: 10rem;
	}
	span {
		align-self: center;
		text-transform: uppercase;
		font-size: 1.4rem;
	}
}

#app {
	overflow-x: hidden;

	@include lg {
		overflow-x: auto;
	}
}