a {	
	text-decoration: none;

	&:focus, &:active {
		outline: none !important;
	}
}

i {
	filter: grayscale(1);
	height: 30px;
	width: 30px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 2rem;
}

.icon-instagram {
	background-image: url('../../assets/icons/icon-instagram.png')
}

.icon-facebook {
	background-image: url('../../assets/icons/icon-facebook.png')
}

.icon-firmen {
	background-image: url('../../assets/icons/icon-firmen.png')
}

.icon-flache {
	background-image: url('../../assets/icons/icon-flache.png')
}

.icon-indoor {
	background-image: url('../../assets/icons/icon-indoor.png')
}

.icon-outdoor {
	background-image: url('../../assets/icons/icon-outdoor.png')
}

.icon-parkplatze {
	background-image: url('../../assets/icons/icon-parkplatze.png')
}

.icon-personen {
	background-image: url('../../assets/icons/icon-personen.png')
}

.icon-privat {
	background-image: url('../../assets/icons/icon-privat.png')
}

.right-arrow {
	font-size: 1.2rem;
	
}

hr {
	color: $darkGray;
	border: #666666 .5px solid;
}

.p-absolute{
	position: absolute;
}

.d-block {
	display: block !important;
}

.d-show {
	opacity: 1 !important;
	transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.moveUpItem {
	transform: translateY(-10%) scaleY(1.6);
	transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);

	@include respond-to('small') {
		transform: none;
	}
}

.moveUp {
	transform: translateY(0) scaleY(1) !important;
	transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.d-none {
	display: none;
}

